

 //*  ----------COLORS-------------


 $primary-color:#272727;
 $secondary-color: #ff652f;
 $text-color:#eee;

//*  ---------FONT---------

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, san-serif;

$main-bgImage-path:'../../img/model-1.jpg';